absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
aistudio-sdk==0.2.6
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
astor==0.8.1
asttokens==3.0.0
async-timeout==5.0.1
attrs==25.3.0
audioread==3.0.1
av==15.0.0
babel==2.17.0
bce-python-sdk==0.9.41
blinker==1.9.0
bokeh==3.4.3
boltons==25.0.0
Bottleneck==1.5.0
braceexpand==0.1.7
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.9.0
contourpy==1.3.0
cycler==0.12.1
datasets==4.0.0
decorator==5.2.1
dill==0.3.4
Distance==0.1.3
editdistance==0.8.1
einops==0.8.1
exceptiongroup==1.3.0
executing==2.2.0
fastapi==0.116.1
ffmpeg-python==0.2.0
ffmpy==0.6.1
filelock==3.13.1
Flask==3.1.1
flask-babel==4.0.0
flatbuffers==25.2.10
flatten-dict==0.4.2
fonttools==4.59.0
frozenlist==1.7.0
fsspec==2024.6.1
ftfy==6.3.1
future==1.0.0
g2p-en==2.1.0
g2pM==0.1.2.5
h11==0.16.0
h5py==3.14.0
hf-xet==1.1.5
hf_transfer==0.1.9
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.33.4
humanfriendly==10.0
HyperPyYAML==1.2.2
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
inflect==7.5.0
intervaltree==3.1.0
ipython==8.18.1
itsdangerous==2.2.0
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.4
joblib==1.5.1
jsonlines==4.0.0
kaldiio==2.18.1
kiwisolver==1.4.7
lazy_loader==0.4
librosa==0.11.0
ligo-segments==1.4.0
llvmlite==0.43.0
loguru==0.7.3
lxml==6.0.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline==0.1.7
mdurl==0.1.2
mido==1.3.3
mock==5.2.0
more-itertools==10.7.0
mpmath==1.3.0
msgpack==1.1.1
multidict==6.6.3
multiprocess==0.70.12.2
nara-wpe==0.0.11
networkx==3.2.1
nltk==3.9.1
note-seq==0.0.5
numba==0.60.0
numpy==1.26.3
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==8.9.6.50
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.19.3
nvidia-nvtx-cu11==11.8.86
omegaconf==2.3.0
onnx==1.18.0
onnxoptimizer==0.3.13
onnxruntime==1.19.2
OpenCC==1.1.6
opencc-python-reimplemented==0.1.7
opencv-python==4.6.0.66
opt-einsum==3.3.0
packaging==25.0
paddle2onnx==2.0.1
paddlefsl==1.1.0
paddlenlp==2.8.1
paddlepaddle-gpu==2.6.2
paddlesde==0.2.5
paddleslim==2.6.0
pandas==2.3.1
parameterized==0.9.0
parso==0.8.4
pathos==0.2.8
pattern_singleton==1.2.0
pexpect==4.9.0
pillow==11.0.0
platformdirs==4.3.8
playsound==1.3.0
polygraphy==0.49.26
pooch==1.8.2
portalocker==3.2.0
pox==0.3.6
ppdiffusers==0.29.0
ppft==1.7.7
praatio==6.2.0
pretty_midi==0.2.10
prettytable==3.16.0
prompt_toolkit==3.0.51
propcache==0.3.2
protobuf==6.31.1
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==21.0.0
PyAudio==0.2.14
pybind11==3.0.0
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.11.7
pydantic_core==2.33.2
pydub==0.25.1
Pygments==2.19.2
pyloudnorm==0.1.1
pyparsing==3.2.3
pypinyin==0.55.0
pypinyin-dict==0.9.0
pytest-runner==6.0.1
python-dateutil==2.9.0.post0
pytz==2025.2
pyworld==0.3.5
PyYAML==6.0.2
pyzmq==27.0.0
rarfile==4.2
regex==2024.11.6
requests==2.32.4
requests-mock==1.12.1
resampy==0.4.3
rich==14.0.0
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.12
sacrebleu==2.5.1
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.13.1
sentencepiece==0.2.0
seqeval==1.2.2
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.2
soundfile==0.13.1
soxr==0.5.0.post1
srt==3.5.3
stack-data==0.6.3
starlette==0.47.2
swig==4.3.1
sympy==1.13.3
tabulate==0.9.0
TextGrid==1.6.1
threadpoolctl==3.6.0
timer==0.3.0
ToJyutping==3.2.0
tool_helpers==0.1.2
torch==2.7.1+cu118
torchaudio==2.7.1+cu118
torchvision==0.22.1+cu118
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
trampoline==0.1.2
triton==3.3.1
typeguard==4.4.4
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==1.26.20
uvicorn==0.35.0
visualdl==2.5.3
watchdog==6.0.0
wcwidth==0.2.13
webrtcvad==2.0.10
websockets==15.0.1
Werkzeug==3.1.3
xxhash==3.5.0
xyzservices==2025.4.0
yacs==0.1.8
yarl==1.20.1
zhon==2.1.1
zipp==3.23.0
